*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap : 20px;
    margin: 20px;
}

.underline{
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: #CEAF7E;
    height: 3px;
    width: 50%;
    border-radius: 20px;
}